.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ff0000; //red
  color: #0000ff; //blue
  color: #ffff00; //yellow
  color: #ffffff; //white
  color: #000000; //black
  color: #808080; //grey
  color: #ffa500; //orange
  color: #008000; //green
  color: #ee82ee; //violet
  color: #808000; //olive
  color: #c0c2c9; //slate
  color: #a52a2a; //brown
  color: #ff00ff; //magenta
  color: #800080; //purple
  color: #008080; //teal
  color: #7fff00; //chartreuse
  color: #ffbf00; //amber
  color: #e34234; //vermilion
  color: #463430; //cedar
  color: #bcb88a; //sage
  color: #6f4e37; //coffee
  color: #ffc0cb; //pink
  color: #8b0000; //darkred
  color: #bf4040; //red-grey
  color: #800000; //maroon
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
