* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h000000 {
  background: #000000;
}

.hffffff {
  background: #ffffff;
}

.h808080 {
  background: #808080;
}

.hff0000 {
  background: #ff0000;
}

.h0000ff {
  background: #0000ff;
}

.hffff00 {
  background: #ffff00;
}

.hffa500 {
  background: #ffa500;
}

.h008000 {
  background: #008000;
}

.hee82ee {
  background: #ee82ee;
}

.h808000 {
  background: #808000;
}

.hc0c2c9 {
  background: #c0c2c9;
}

.ha52a2a {
  background: #a52a2a;
}

.hff00ff {
  background: #ff00ff;
}

.h800080 {
  background: #800080;
}

.h008080 {
  background: #008080;
}

.h7fff00 {
  background: #7fff00;
}

.hffbf00 {
  background: #ffbf00;
}

.he34234 {
  background: #e34234;
}
